<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar-two">
        <div class="container">
            <div class="row align-items-center inner-banner">
                <div class="col-md-12 col-12 text-center">
                    <h2 class="breadcrumb-title">Add Labtest</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/doctor">Home</a></li>
                            <li class="breadcrumb-item">Add Labtest</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="content">
        <div class="container">

            <div class="dashboard-header mb-3">
                <h3>Add Labtest</h3>
            </div>

            <form [formGroup]="labtestForm" (ngSubmit)="onSubmit()">

                <div class="row">

                    <!-- Labtest Category -->
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label class="form-label">Category <span class="text-danger">*</span></label>
                            <select class="form-control" appSelect2 placeholder="-- Select Category --" formControlName="categoryType">
                                <option value="">Select Category</option>
                                <option>Blood Test</option>
                                <option>Infection Test</option>
                                <option>Radiology</option>
                                <option>Cardiac</option>
                            </select>
                            <p class="text-danger" *ngIf="isInvalid('categoryType')">Category is required</p>
                        </div>
                    </div>

                    <!-- Labtest Name -->
                    <div class="col-md-3">
                        <div class="input-block mb-3">
                            <label class="form-label">Labtest Name <span class="text-danger">*</span></label>
                            <input type="text" formControlName="labtestName" class="form-control"
                                   placeholder="Enter labtest name">
                            <p class="text-danger" *ngIf="isInvalid('labtestName')">Labtest Name is required</p>
                        </div>
                    </div>

                    <!-- Price (Optional) -->
                    <div class="col-md-3">
                        <div class="input-block mb-3">
                            <label class="form-label">Price</label>
                            <input type="text" formControlName="price" class="form-control"
                                   placeholder="Enter price name (optional)">
                        </div>
                    </div>

                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Save Labtest</button>
                </div>

            </form>

        </div>
    </div>

</div>
