.form-focus {
    position: relative;
}

.form-control.floating {
    padding-top: 18px !important;
}

.focus-label {
    top: -10px !important;
}

.text-danger {
    font-size: 13px;
}

.login-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
