<!-- Main Wrapper -->
<div class="main-wrapper">


    <!-- Breadcrumb -->
    <div class="breadcrumb-bar-two">
        <div class="container">
            <div class="row align-items-center inner-banner">
                <div class="col-md-12 col-12 text-center">
                    <h2 class="breadcrumb-title">Add Patient</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/doctor">Home</a></li>
                            <li class="breadcrumb-item">Add Patient</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="content">
        <div class="container">

            <div class="dashboard-header mb-3">
                <h3>Add Patient</h3>
            </div>

            <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">

                <div class="row">

                    <!-- Full Name -->
                    <div class="col-md-3">
                        <div class="input-block mb-3">
                            <label class="form-label">Full Name <span class="text-danger">*</span></label>
                            <input type="text" formControlName="fullName" class="form-control"
                                   placeholder="Enter full name">
                            <p class="text-danger" *ngIf="isInvalid('fullName')">Full Name is required</p>
                        </div>
                    </div>

                    <!-- Gender -->
                    <div class="col-md-3">
                        <div class="input-block mb-3">
                            <label class="form-label">Gender <span class="text-danger">*</span></label>
                            <select class="form-control" appSelect2 placeholder="-- Select Gender --"  formControlName="gender">
                                <option value="">-- Select Gender --</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <p class="text-danger" *ngIf="isInvalid('gender')">Gender is required</p>
                        </div>
                    </div>

                    <!-- dob -->
                    <div class="col-md-3">
                        <div class="input-block mb-3">
                            <label class="form-label">Date of Birth <span class="text-danger">*</span></label>
                            <input type="date" formControlName="dob" class="form-control" [max]="today">
                            <p class="text-danger" *ngIf="isInvalid('dob')">Date of Birth is required</p>
                        </div>
                    </div>

                    <!-- Phone -->
                    <div class="col-md-3">
                        <div class="input-block mb-3">
                            <label class="form-label">Phone Number <span class="text-danger">*</span></label>
                            <input type="text" formControlName="phoneNumber" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                   placeholder="Enter 10 digit number">
                            <p class="text-danger" *ngIf="isInvalid('phoneNumber')">Enter valid 10-digit phone</p>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Address -->
                    <div class="col-md-9">
                        <div class="input-block mb-3">
                            <label class="form-label">Address <span class="text-danger">*</span></label>
                            <textarea formControlName="address" class="form-control"></textarea>
                            <p class="text-danger" *ngIf="isInvalid('address')">Address is required</p>
                        </div>
                    </div>

                    <!-- ABHA ID -->
                    <div class="col-md-3">
                        <div class="input-block mb-3">
                            <label class="form-label">ABHA ID</label>
                            <input type="text" formControlName="abhaId" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Save Patient</button>
                </div>

            </form>

        </div>
    </div>


</div>
